.newproject_container {
    width: 450px;
    padding: 3em;                                       /*Espaçamento interno do conteúdo*/
    margin: 0 auto;                                     /*Centralizar*/
}

.newproject_container h1 {
    margin-bottom: 0.5em;                               /*Afastar o título do parágrafo abaixo dele*/
}

.newproject_container p{
    color: #7b7b7b;
}