.container {
    width: 1200px;                              /*Largura limite para o conteúdo central*/
    display: flex;                              /*Posicionar os elementos um ao lado do outro*/
    justify-content: space-between;             /*Espaça os elementos igualmente de forma horizontal*/
    margin: 0 auto;                             /*Centraliza o Container na tela*/
    flex-wrap: wrap;                            /*Quando os elementos filhos de Container ultrapassarem o width de 1200px, eles criam uma nova linha abaixo*/
}

/*CLASS HELPERS*/
.min-height {
    min-height: 75vh;                           /*Para o conteúdo ocupar um grande espaço na tela. Obs: foi tentado com % em vez de vh mas não funcionou*/
}

.start {
    justify-content: flex-start;                /*Vai colocar os conteúdos para o início em vez de space-around*/
}

.column {
    flex-direction: column;                     /*Altera a propriedade para organizar por colunas em vez de linhas que seria o padrão*/
    justify-content: flex-start;                /*Vai colocar os conteúdos para o início em vez de space-around*/
}